<div class="body">

    <div class="main">

        <div class="compagny"> 

            <h4><u>Most important groups investing into cybersecurity</u></h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Air France</li>
                <li class="list-group-item">Capgemini</li>
                <li class="list-group-item">BNP Paribas</li>
                <li class="list-group-item">Orange</li>
                <li class="list-group-item">Engie</li>
                <li class="list-group-item">Framatome</li>
            </ul>

        </div>

        <div class="norms">

            <h4><u>Most important organisations establishing norms in cybersecurity</u></h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">ANSSI - Agence Nationale de la Sécurité des Systèmes d'Information</li>
                <li class="list-group-item">NIST - National Institute of Standards and Technology</li>
                <li class="list-group-item">ISO - International Organization for Standardization</li>
                <li class="list-group-item">ENISA - European Union Agency for Cybersecurity</li>
                <li class="list-group-item">CIS - Center for Internet Security</li>
            </ul>

        </div>

    </div>

</div>