.main-footer {
    background-color: #F8F9FA;
    max-width: 100%;
    height: 5vh;
    padding: 2vh 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reseaux {
    background-color: lightblue;
    width: 40vw;
}