<div class="body">

    <div class="main">

        <div class="image">

            <u><h3>Le Phishing</h3></u>

            <img src="../../assets/images/phishing.jpg" alt="phishing">

        </div>

        <div class="name">

            <u><h4>Explication</h4></u>

            <b><p>Le phishing vise à récupérer des informations par des échanges informatiques - mail, SMS, 
                messagerie interne - en se faisant passer pour une autre personne : souvent 
                une personne gradée, un supérieur hiérarchique, mais aussi un collègue déjà connu.</p></b>

            <b><p><i>Exemple : un hacker veut récupérer des informations bancaires, il se fait passer 
                pour un membre d'une banque et envoie un mail prévenant qu'un compte a été bloqué et ne peut être
                débloqué sans le mot de passe et numéro confidentiel. Il envoie le mail à une liste de 
                personnes établies comme étant clients de cette banque, et attend qu'une des personnes 
                réponde au mail.
            </i></p></b>

            <p>C'est déjà arrivé à ... : <br> Uber ! En septembre 2022, un hacker a réussi à bloquer
            le mot de passe d'un employé du groupe et s'est fait passer pour l'équipe technique du groupe
            afin de récupérer les identifiants de l'employé en question. Il a ensuite profité des failles
            du système afin de s'introduire dans la messagerie privée du système et accéder à leur banque 
            de données.</p>

        </div>

        <div class="translation">

            <u><h4>Traduction</h4></u>

            <b><p>El phishing tiene como objetivo recuperar información a través de intercambios informáticos 
                (correo electrónico, SMS, mensajería interna) haciéndose pasar por otra
                persona: a menudo una persona mayor, un superior, pero también un colega ya conocido.</p></b>

            <b><p><i>Ejemplo: un hacker quiere recuperar información bancaria, se hace pasar por miembro de un banco y envía un correo 
                electrónico advirtiendo que una cuenta ha sido bloqueada y no se puede desbloquear 
                sin la contraseña y el número confidencial. Envía el correo electrónico a una lista de personas establecidas 
                como clientes de este banco y espera a que una de las personas responda al correo electrónico.</i></p></b>
        
            <p>Ya le ha pasado...  <br>
            ¡Uber! En septiembre de 2022, un hacker logró bloquear la contraseña de un empleado del grupo y se hizo 
            pasar por el equipo técnico del grupo para recuperar los identificadores del empleado en cuestión. 
            Luego aprovechó las fallas en el sistema para ingresar al sistema de mensajería privada y acceder a su base de datos.</p>

        </div>

    </div>

</div>