<div class="body">

    <div class="main">

        <div class="image">

            <u><h3>Le Phishing</h3></u>

            <img src="../../assets/images/phishing.jpg" alt="phishing">

        </div>

        <div class="definition">

            <u><h4>Definition</h4></u>

            <b><p>The phishing's target is to get identity informations through virtuals
                discussions - mail, text messages, the company's messaging service - while pretending
                to be someone else ; often a manager, a superior of the target or even a coworker
                known by the victim.</p></b>

            <b><p><i>Example : <br> A hacker is willing to get financial datas. He then write a
                false email explaining to the reader that their account has been hacked and to
                give their username and password to get the financial guarantee. <br>
                He then send the mail to a list of people who have been identified as clients to the
                bank through their cookies, and then wait for a victim (or several) to respond.
            </i></p></b>

            <p>It already happened to ... : <br> Uber ! In septembre 2022, a hacker succeeded to lock
            an employee's passwords and pretended to be someone of the IT support to convince said-employee
            to give his password and username to solve the issue. He then entered the messaging service,
            then the administration system and their database.</p>

        </div>

        <div class="translation">

            <u><h4>Traduction</h4></u>

            <b><p>El phishing tiene como objetivo recuperar información a través de intercambios informáticos
                (correo electrónico, SMS, mensajería interna) haciéndose pasar por otra
                persona: a menudo una persona mayor, un superior, pero también un colega ya conocido.</p></b>

            <b><p><i>Ejemplo: un hacker quiere recuperar información bancaria, se hace pasar por miembro de un banco y envía un correo
                electrónico advirtiendo que una cuenta ha sido bloqueada y no se puede desbloquear
                sin la contraseña y el número confidencial. Envía el correo electrónico a una lista de personas establecidas
                como clientes de este banco y espera a que una de las personas responda al correo electrónico.</i></p></b>

            <p>Ya le ha pasado...  <br>
            ¡Uber! En septiembre de 2022, un hacker logró bloquear la contraseña de un empleado del grupo y se hizo
            pasar por el equipo técnico del grupo para recuperar los identificadores del empleado en cuestión.
            Luego aprovechó las fallas en el sistema para ingresar al sistema de mensajería privada y acceder a su base de datos.</p>

        </div>

    </div>

</div>
