<div class="main-header">
    <nav class="navbar navbar-expand-xl bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="services">Our Services</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="be-concerned">But are YOU concerned ?</a>
            </li>

            <div class="main">
                <a class="navbar-brand" href="accueil">{{title}}</a>
                <div class="avatar-container">
                    <img class="avatar" src="../../../assets/images/logo.png" alt="Logo">
                </div>
            </div>

            <li class="nav-item">
                <a class="nav-link" href="vocabulary">Useful Vocabulary</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="actors">The main actors in cybersecurity</a>
            </li>


        </ul>

        </div>
    </nav>
</div>