<div class="body">

    <div class="main">

    <h3><u>Our Services</u></h3>

        <div class="nist">
            
            <app-comp-collapse>            
            </app-comp-collapse>

            <div class="form">

                <i><h4>If you want to ask for a quotation ...</h4></i>

                <div class="form-button">
                    <form>

                        <div class="form-group col-md-8">
                            <label for="inputName">Name, First Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Name, First Name">
                        </div>

                        <div class="form-group col-md-8">
                            <label for="inputPhone">Phone Number</label>
                            <input type="text" class="form-control" id="inputPhone" placeholder="+ 33 ... ">
                        </div>

                        <div class="form-group col-md-8">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="john.doe@gmail.com ">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputCompany">Company's name</label>
                                <input type="text" class="form-control" id="inputCompany">
                        </div>

                        <div class="form-group col-md-8">
                            <label for="inputState">What are you interested in ?</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose</option>
                                <option>Pen test</option>
                                <option>ISO 27001 training</option>
                                <option>Cybersecurity audit</option>

                            </select>
                        </div>

                        </div>

                    </div>

                    </form>

                    <button type="submit" class="btn btn-primary">Sign in</button>

                </div>

            </div>

        </div>

    </div>

</div>