.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main {
    background-color: grey;

    height: 85%;
    width: 95%;

}

.card-header {
    background-color: #D3D3D3;
}

h3 {
    text-align: center;
    padding: 20px 0;
}

.nist {
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form {
    width: 25vw;
}

button {
    margin: 20px;
}

.form {
    height: 110vh;
}

.form-button {
    display: flex;
    flex-direction: row;
}

.button {
    height : 10%;
}