<div class="body">

    <div class="main">

        <div class="test-container" *ngIf="!result">

            <div class="title">
                <b><h3>Are you concerned by modern cybersecurity issues</h3></b>
            </div>

            <div *ngFor="let question of questions; let i = index">
                <h5>{{ questions[i].questionText}}</h5>
                    <div *ngFor="let answer of question.answers">
                        <label>
                            <input type ="radio" name="question {{ i }}" [(ngModel)]="selectedAnswers[i]" [value]="answer.points">
                            {{ answer.text }}
                        </label>
                    </div>
            </div>
            <button (click)="calculateResult()">Soumettre</button>
        </div>

        <div *ngIf="result">
            <h5>Test terminé ! Merci.</h5>
            <p>{{result}}</p>
        </div>

    </div>

</div>
